
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#background {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

#background video {
    width: 100%;
    filter: brightness(70%);
    height: 100%;
    object-fit: cover;
}

.social {
    background-color: orange;
    padding: 1.5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1.7rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 18rem;
    left: -3.8rem;
}

.social:hover {
    left: 0;
    filter: brightness(60%);
}

img {
    display: block;
}

.search-menu {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 1.5rem;
}


.menu {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: white;
}

.hamburger-menu {
    position: absolute;
    border-radius: 10px;
    top: 1.7rem;
    left: 0.8rem;
    width: 40px;
    height: 8px;
    background-color: black;
}

.hamburger-menu::before,
.hamburger-menu::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 40px;
    height: 8px;
    background-color: black;
}

.hamburger-menu::before {
    top: -20px;
}

.hamburger-menu::after {
    top: 20px;
}