---

---

<section>
    <div class="relative">
        <div class="h-[75vh] w-full">
            <img src="https://images.pexels.com/photos/26312401/pexels-photo-26312401/free-photo-of-city.jpeg" alt="city of light" class="h-full w-full object-cover object-center brightness-75"/>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 left-2/4 -translate-x-2/4  w-max">
            <h1 class="text-9xl">WISATA</h1>
        </div>
    </div>
</section>