---
import WisataFilter from "../../components/WisataFilter.astro";
import WisataSpot from "../../components/WisataSpot.astro";
---
<!-- ganti namanya. ini kayaknya juga masuk komponen -->
<section class="sm:ps-6 sm:pe-6 ps-3 pe-3 pb-32">
  <WisataFilter />
  <WisataSpot />
</section>
