---
import WisataFilter from "../../components/WisataFilter.astro";
import WisataSpot from "../../components/WisataSpot.astro";
---
<!-- ganti namanya. ini kayaknya juga masuk komponen -->
<section class="ps-6 pe-6 border- pb-32">
  <WisataFilter />
  <WisataSpot />
</section>
