---
interface Props {
    heroTitle: string;
    src: string;
    alt: string;
}

const { heroTitle, src, alt } = Astro.props;
---
<!-- hero section masuk komponen -->
<!-- ganti namanya -->
<section>
    <div class="relative">
        <div class="sm:h-[75vh] w-full md:h-[60vh]">
            <img src={src} alt={alt} class="h-full w-full object-cover object-center brightness-75"/>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 left-2/4 -translate-x-2/4  w-max">
            <h1 class="sm:text-9xl text-4xl text-gray-100">{heroTitle}</h1>
        </div>
    </div>
</section>