---
import PagesBaseLayout from '../../layouts/PagesBaseLayout.astro';
import PageHeroSection from '../../components/PageHeroSection.astro';
import Grid from '../../components/Grid.astro';
import FooterSection from '../../components/FooterSection.astro';
import ToTopButton from '../../components/ToTopButton.astro';
import contentPages from '../../data/contentPages.json';

const akomodasi = contentPages.akomodasi;
---

<PagesBaseLayout title="AKOMODASI">
  <header>
    <PageHeroSection
      heroTitle="AKOMODASI"
      src="https://images.trvl-media.com/lodging/92000000/91630000/91626700/91626628/fa020a3b.jpg?impolicy=resizecrop&rw=1200&ra=fit"
      alt="OYO Homes 91095 Desa Wisata Conto, courtesy of Expedia"
    />
  </header>
  <main>
    <section class="sm:ps-6 sm:pe-6 ps-3 pe-3 mb-[10%]">
      <Grid items={akomodasi} />
    </section>
  </main>
  <FooterSection />
  <ToTopButton />
</PagesBaseLayout>
