---
import PagesBaseLayout from "../layouts/PagesBaseLayout.astro";
import WisataHeroSection from "../layouts/wisata/WisataHeroSection.astro";
import WisataGrid from "../layouts/wisata/WisataGrid.astro";
import FooterSection from "../layouts/FooterSection.astro";
import ToTopButton from "../components/ToTopButton.astro";
---

<PagesBaseLayout title="AKOMODASI">
    <header>
        <WisataHeroSection heroTitle="AKOMODASI" src="https://images.pexels.com/photos/158148/ruhl-house-home-galveston-texas-158148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="akomodasi background"/>
    </header>
    <main>
        <WisataGrid />
    </main>
    <FooterSection />
    <ToTopButton />
</PagesBaseLayout>