---
import HeroSection from '../layouts/HeroSection.astro';
import MapSection from '../layouts/MapSection.astro';
import SpotSection from '../layouts/SpotSection.astro';
import CuisineSection from '../layouts/CuisineSection.astro';
import AccommodationSection from '../layouts/AccommodationSection.astro';
import GallerySection from '../layouts/GallerySection.astro';
import ToTopButton from '../components/ToTopButton.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://upload.wikimedia.org/wikipedia/commons/6/63/Seal_of_Wonogiri_Regency.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>VISIT WONOGIRI</title>
	</head>
	<body>
		<HeroSection />
		<main>
			<MapSection />
			<SpotSection />
			<CuisineSection />
			<AccommodationSection />
			<GallerySection />
		</main>
		<ToTopButton />
	</body>
</html>
