---
import HomeBaseLayout from "../layouts/HomeBaseLayout.astro";
import HeroSection from '../layouts/HeroSection.astro';
import MapSection from '../layouts/MapSection.astro';
import SpotSection from '../layouts/SpotSection.astro';
import CuisineSection from '../layouts/CuisineSection.astro';
import AccommodationSection from '../layouts/AccommodationSection.astro';
import GallerySection from '../layouts/GallerySection.astro';
import FooterSection from '../layouts/FooterSection.astro';
import ToTopButton from '../components/ToTopButton.astro';
---

<HomeBaseLayout>
  <HeroSection />
  <main>
    <MapSection />
    <SpotSection />
    <CuisineSection />
    <AccommodationSection />
    <GallerySection />
    <FooterSection />
    <ToTopButton />
  </main>
</HomeBaseLayout>
