---
import HomeBaseLayout from '../layouts/HomeBaseLayout.astro';
import HeroSection from '../components/HeroSection.astro';
import MapSection from '../components/MapSection.astro';
import SpotSection from '../components/SpotSection.astro';
import CuisineSection from '../components/CuisineSection.astro';
import AccommodationSection from '../components/AccommodationSection.astro';
import GallerySection from '../components/GallerySection.astro';
import FooterSection from '../components/FooterSection.astro';
import ToTopButton from '../components/ToTopButton.astro';
---

<HomeBaseLayout>
  <HeroSection />
  <main>
    <MapSection /> 
    <SpotSection />
    <CuisineSection />
    <AccommodationSection />
    <GallerySection />
  </main>
  <FooterSection />
  <ToTopButton />
</HomeBaseLayout>
