---
import NavigationBar from '../components/NavigationBar.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<NavigationBar />
		<div id="background">
			<video autoplay loop>
				<source src="../public/wonogiri.mp4" type="video/mp4" />
			</video>
		</div>
		<section>
			<h1>Astro</h1>
			<p>lorem ipsum dolor sit amertaskfdnsnsfnsfskfjfbskjdfbnsfbsjhkbsdjfbsdjfbsjuf</p>
		</section>
	</body>
</html>
