---
import PagesBaseLayout from "../layouts/PagesBaseLayout.astro";
import WisataHeroSection from "../layouts/wisata/WisataHeroSection.astro";
import WisataGrid from "../layouts/wisata/WisataGrid.astro";
import FooterSection from "../layouts/FooterSection.astro";
import ToTopButton from "../components/ToTopButton.astro";
---

<PagesBaseLayout title="KULINER">
    <header>
        <WisataHeroSection heroTitle="KULINER" src="https://images.pexels.com/photos/618491/pexels-photo-618491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="kuliner background"/>
    </header>
    <main>
        <WisataGrid />
    </main>
    <FooterSection />
    <ToTopButton />
</PagesBaseLayout>