---
import Header from './Header.astro';
---

<Header />
<section class="mb-[10%]">
    <div id="background" class="lg:h-dvh md:h-[95vh] h-[90vh]">
        <video autoplay loop class="w-full h-full object-cover brightness-75">
            <source src="src/assets/wonogiri.mp4" type="video/mp4" />
        </video>
        <div class="bg-reddish text-white p-6 text-4xl lg:flex hidden items-center justify-center flex-col gap-7 absolute z-[1] top-72 -left-16 hover:left-0">
            <a href="https://www.instagram.com/humas_wonogiri?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="hover:scale-125"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/mBangunWonogiri" target="_blank" class="hover:scale-125"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://youtube.com/@kabupatenwonogiri9591?si=lHqSac_0VEWsoGI5" target="_blank" class="hover:scale-125"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
</section>
