---
import { Image } from "astro:assets";
import centralJavaMap from '../assets/Peta/centralJavaMap.jpg';
import wonogiriRegency from '../assets/Peta/wonogiriRegency.png';
---

<section class="sm:ps-6 sm:pe-6 ps-3 pe-3 mb-[10%]">
    <h1 class="text-center sm:text-6xl text-4xl font-bold pb-10">PETA WONOGIRI</h1>
    <div class="lg:flex justify-center items-center relative md:space-y-4 sm:space-y-3 space-y-2">
        <div class="absolute lg:top-30 top-0 lg:left-7 md:left-8 sm:left-6 p-3 lg:text-xl md:text-lg sm:text-base text-sm text-blue bg-white">
            <h1>Peta Pulau Jawa</h1>
        </div>
        <div class="lg:w-6/12">
            <Image src={centralJavaMap} alt="Central Java Map" class="block mx-auto sm:w-11/12 w-full" loading="lazy">
        </div>
        <div class="lg:w-6/12">
            <Image src={wonogiriRegency} alt="Wonogiri Regency" usemap="#image-map" class="block mx-auto sm:w-4/5 w-full" loading="lazy">
            <map name="image-map">
                <area target="_blank" alt="paranggupito" title="paranggupito" href="https://id.wikipedia.org/wiki/Paranggupito,_Wonogiri" coords="140,480,71" shape="circle" class="hover:bg-red-500"></area>
            </map>
        </div>
    </div>
</section>