---

---

<nav id="nav-container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Seal_of_Wonogiri_Regency.svg" alt="Logo Pemkab Wonogiri" width="65px">
    <div class="search-menu">
        <div>
            <img src="./public/Search.png" alt="search logo" width="40px">
        </div>
        <div class="menu">
            <div class="hamburger-menu"></div>
        </div>
    </div>
</nav>