---

---

<nav class="navbar bg-amber-100 sm:py-4 sm:mt-6 flex justify-between sm:absolute z-[3]">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/6/63/Seal_of_Wonogiri_Regency.svg"
    alt="Logo Pemkab Wonogiri"
    width="50px"
  />
  <div class="flex gap-5">
    <div>
      <button class="sm:btn sm:btn-ghost sm:btn-circle sm:bg-red-500 hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
      </button>
    </div>
    <div class="drawer bg-red-500 btn-circle">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label for="my-drawer" class="btn btn-ghost btn-circle drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h7"></path>
          </svg>
        </label>
      </div>
      <div class="drawer-side z-[2]">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"
        ></label>
        <div class="flex items-center w-7/12 min-h-full bg-base-200 text-base-content">

          <div class="w-1/2 border-2 border-red-500 text-center">
            <h1 class="text-6xl pb-8">ini bagian menu</h1>
            <ul>
              <li>home</li>
              <li>akomodasi</li>
              <li>kuliner</li>
              <li>wisata</li>
            </ul>
          </div>

          <div class="w-1/2">
            <img src="https://images.pexels.com/photos/1694631/pexels-photo-1694631.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="man standing on grass" class="w-full h-screen"/>
          </div>

        </div>
      </div>
    </div>
  </div>
</nav>
