---

---

<nav class="bg-amber-300 p-2 mt-6 flex justify-between z-10 w-full absolute">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Seal_of_Wonogiri_Regency.svg" alt="Logo Pemkab Wonogiri" width="50px">
    <div class="search-menu">
        <div>
            <img src="/Search.png" alt="search logo" width="30px">
        </div>
        <div class="menu">
            <div class="hamburger-menu"></div>
        </div>
    </div>
</nav>