---
interface Props {
    heroTitle: string;
    src: string;
    alt: string;
}

const { heroTitle, src, alt } = Astro.props;
---

<section>
    <div class="relative">
        <div class="lg:h-[75vh] w-full md:h-[60vh] sm:h-[55vh]">
            <img src={src} alt={alt} class="h-full w-full object-cover brightness-75"/>
        </div>
        <div class="absolute top-1/2 -translate-y-1/2 left-2/4 -translate-x-2/4  w-max">
            <h1 class="sm:text-9xl text-4xl text-white">{heroTitle}</h1>
        </div>
    </div>
</section>