---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={href}><button class="absolute bottom-2 left-1/2 -translate-x-1/2 bg-stone-50 py-1 px-2 rounded-md text-black">See More</button></a>