---
import SeeMoreBtn from "./SeeMoreBtn.astro";
---

<div id="slide4" class="carousel-item relative w-full">
    <img src="/assets/tokyo.jpg" alt="tokyo" class="w-full object-cover" />
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide3" class="btn btn-circle">❮</a> 
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
    <div class="absolute left-10 bottom-20 bg-stone-50 py-3.5 px-5 text-black font-semibold text-4xl">
      <h1>Venue</h1>
    </div>
    <SeeMoreBtn href='/wisata' />
</div>