---
import SeeMoreBtn from './SeeMoreBtn.astro';
---

<div id="slide1" class="carousel-item relative w-full">
  <img src="/assets/japan.jpg" alt="fujiyama" class="w-full object-cover object-center" />
  <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
    <a href="#slide4" class="btn btn-circle">❮</a> 
    <a href="#slide2" class="btn btn-circle">❯</a>
  </div>
  <div class="absolute sm:left-10 sm:bottom-20 left-0 bottom-10 bg-stone-50 sm:py-3 py-2 sm:px-5 px-3 text-black font-semibold sm:text-4xl text-2xl">
    <h1>Venue</h1>
  </div>
  <SeeMoreBtn href='/wisata/wisata/' />
</div> 