---

---
<div class="grid sm:grid-cols-4 sm:gap-x-8 sm:gap-y-14 gap-y-24 pt-10 sm:mb-10">
    <article class="relative">
      <div class=" w-full border-2">
        <img
          src="https://images.pexels.com/photos/3225517/pexels-photo-3225517.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="nature-1"
          class="w-full aspect-square object-cover object-center"
        />
      </div>
      <div
        class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2"
      >
        <h2>Valley of Rose</h2>
      </div>
    </article>

    <article class="relative">
      <div class="border-2">
        <img
          src="https://images.pexels.com/photos/1547813/pexels-photo-1547813.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="nature-2"
          class="w-full aspect-square object-cover object-center"
        />
      </div>
      <div
        class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2"
      >
        <h2>Valley of Rose</h2>
      </div>
    </article>

    <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/707344/pexels-photo-707344.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-3"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>

      <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/1028225/pexels-photo-1028225.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-4"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>

      <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/1770809/pexels-photo-1770809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-5"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>

      <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-6"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>

      <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/316398/pexels-photo-316398.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-7"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>

      <article class="relative">
        <div class="border-2">
          <img
            src="https://images.pexels.com/photos/165537/pexels-photo-165537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="nature-8"
            class="w-full aspect-square object-cover object-center"
          />
        </div>
        <div class="bg-zinc-200 text-gray-950 w-max p-5 absolute -bottom-6 left-1/2 -translate-x-1/2">
          <h2>Valley of Rose</h2>
        </div>
      </article>