---

---

<section id="lodging" class="my-8">
  <div id="slide1" class="carousel-item flex gap-x-5 relative w-full">
    <div class="relative">
        <img src="/assets/hotel-facade-1.jpg" alt="hotel 1" class="object-cover" />
      <div class="absolute bg-slate-100 px-4 py-5 rounded-md text-black bottom-5 left-24">
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="relative">
        <img src="/assets/hotel-facade-1.jpg" alt="hotel 1" class="object-cover" />
      <div class="absolute bg-slate-100 px-4 py-5 rounded-md text-black bottom-5 left-24">
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="relative">
        <img src="/assets/hotel-facade-1.jpg" alt="hotel 1" class="object-cover" />
      <div class="absolute bg-slate-100 px-4 py-5 rounded-md text-black bottom-5 left-24">
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="relative">
        <img src="/assets/hotel-facade-1.jpg" alt="hotel 1" class="object-cover" />
      <div class="absolute bg-slate-100 px-4 py-5 rounded-md text-black bottom-5 left-24">
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#lodging" class="btn btn-circle">❮</a>
      <a href="#lodging" class="btn btn-circle">❯</a>
    </div>
    <!-- <SeeMoreBtn /> -->
  </div>
</section>
