---

---

<section id="lodging" class="my-8 ps-7 pe-7">
  <h1 class="text-center text-6xl pb-10 font-bold">AKOMODASI</h1>
  <div class="relative flex justify-evenly flex-wrap">
    <div class="w-[20%]">
      <img
        src="/assets/hotel-facade-1.jpg"
        alt="hotel 1"
        class="object-cover"
      />
      <div
        class="absolute bg-slate-100 px-2 py-2 rounded-md text-black bottom-0 left-[9%]"
      >
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="w-[20%]">
      <img
        src="/assets/hotel-facade-1.jpg"
        alt="hotel 1"
        class="object-cover"
      />
      <div
        class="absolute bg-slate-100 px-2 py-2 rounded-md text-black bottom-0 left-[32.5%]"
      >
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="w-[20%]">
      <img
        src="/assets/hotel-facade-1.jpg"
        alt="hotel 1"
        class="object-cover"
      />
      <div
        class="absolute bg-slate-100 px-2 py-2 rounded-md text-black bottom-0 sm:right-[33%]"
      >
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>

    <div class="w-[20%]">
      <img
        src="/assets/hotel-facade-1.jpg"
        alt="hotel 1"
        class="object-cover"
      />
      <div
        class="absolute bg-slate-100 px-2 py-2 rounded-md text-black bottom-0 sm:right-[8.5%]"
      >
        <h2>Hotel Sari Jaya</h2>
      </div>
    </div>
    <!-- <SeeMoreBtn /> -->
  </div>
</section>
