---
import SeeMoreBtn from "../components/SeeMoreBtn.astro";
---

<section class="sm:ps-6 sm:pe-6 ps-3 pe-3 pb-3 mb-[10%] relative">
  <h1 class="text-center sm:text-6xl text-4xl pb-10 font-bold">KULINER</h1>
  <article class="sm:flex mb-10 items-center sm:gap-x-10">
    <div class="sm:w-6/12 sm:relative">
      <img src="https://images.pexels.com/photos/4663476/pexels-photo-4663476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Kacang Mete by Nikita Belokhonov" class="aspect-video object-cover w-full rounded-lg" />
    </div>
    <div class="sm:w-6/12">
      <h2 class="text-center text-xl font-extrabold">Kacang Mete</h2>
      <p class="text-justify">
        Kuliner kacang mete dari Wonogiri beragam dan menggugah selera. Kacang mete sering kali diolah menjadi camilan gurih, seperti kacang mete panggang dengan berbagai bumbu, hingga dijadikan topping untuk hidangan pencuci mulut. Kelezatan kacang mete tidak hanya terbatas pada camilan; kacang mete juga sering digunakan dalam berbagai masakan, baik sebagai bahan utama maupun sebagai pelengkap yang menambah cita rasa.
      </p>
    </div>
  </article>

  <article class="sm:flex sm:flex-row-reverse mb-16 sm:gap-x-10 items-center">
    <div class="sm:w-6/12 sm:relative">
      <img src="https://static.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/radarsolo/2021/10/bakso-wonogiri.jpg" alt="Bakso Wonogiri by 'Iwan Adiluhung', courtesy of Jawa Pos, Radar Solo"  class="aspect-video object-cover w-full rounded-lg" />
    </div>
    <div class="sm:w-6/12 text-justify">
      <h2 class="text-center text-xl font-extrabold">Bakso</h2>
      <p class="text-justify">
        Wonogiri juga terkenal dengan baksonya yang lezat. Bakso Wonogiri terbuat dari daging sapi berkualitas tinggi yang diolah menjadi bola-bola daging kenyal dan gurih. Bakso ini biasanya disajikan dalam kuah kaldu yang kaya rasa, dilengkapi dengan mie, tahu, siomay, dan sayuran segar. Banyak warung bakso terkenal yang berasal dari Wonogiri, menjadikan bakso sebagai salah satu ikon kuliner dari daerah ini.
      </p>
    </div>
  </article>

  <article class="sm:flex mb-16 sm:gap-x-10 items-center">
    <div class="sm:w-6/12 sm:relative">
      <img src="https://akcdn.detik.net.id/community/media/visual/2024/01/23/mie-ayam-3.jpeg?w=680" alt="Mie Ayam Wonogiri by 'Google Review ', courtesy of Detikfood" class="aspect-video object-cover w-full rounded-lg" />
    </div>
    <div class="sm:w-6/12 text-justify">
      <h2 class="text-center text-xl font-extrabold">MIE AYAM</h2>
      <p class="text-justify">
        Mie ayam adalah hidangan populer lainnya dari Wonogiri. Mie ayam Wonogiri terbuat dari mie kuning yang kenyal, disajikan dengan potongan daging ayam berbumbu yang gurih, dan dilengkapi dengan sayuran segar serta taburan bawang goreng. Hidangan ini biasanya disajikan dengan kuah kaldu yang kaya rasa.
      </p>
    </div>
  </article>
  <SeeMoreBtn href="/kuliner/kuliner/" />
</section>
