---
import SeeMoreBtn from "../components/SeeMoreBtn.astro";
---

<section class="relative my-10 ps-7 pe-7">
  <article class="flex flex-auto mb-10 gap-x-5 items-center">
    <div class="w-6/12 relative">
      <img src="/assets/getuk.jpg" alt="getuk" class="w-10/12 rounded-lg" />
      <img src="/assets/getuk-2.jpg" alt="getuk-2" class="w-4/12 absolute top-5 left-96 rounded-lg" />
    </div>
    <div class="w-6/12">
      <h2 class="text-center text-xl font-extrabold">GETHUK</h2>
      <p class="text-justify">
        Getuk lindri adalah salah satu makanan tradisional Indonesia yang
        terbuat dari singkong. Makanan ini berasal dari daerah Jawa Tengah dan
        Jawa Timur. Getuk lindri memiliki tekstur yang lembut dan kenyal dengan
        rasa manis yang khas. Makanan ini sering disajikan dengan taburan kelapa
        parut di atasnya, memberikan rasa gurih yang melengkapi rasa manis dari
        getuk itu sendiri. Getuk lindri umumnya dinikmati sebagai camilan atau
        hidangan penutup.
      </p>
    </div>
  </article>

  <article class="flex flex-auto flex-row-reverse mb-16 gap-x-16 items-center">
    <div class="w-6/12 relative">
      <img src="/assets/soto-2.webp" alt="soto"  class="w-10/12 rounded-lg" />
      <img src="/assets/soto.jpg" alt="soto 2" class="w-4/12 absolute top-5 left-96 rounded-lg" />
    </div>
    <div class="w-6/12 text-justify">
      <h2 class="text-center text-xl font-extrabold">SOTO</h2>
      <p class="text-justify">
        Soto adalah salah satu hidangan sup tradisional Indonesia yang populer dan memiliki banyak variasi regional. Soto terdiri dari kaldu yang kaya rasa, daging, dan berbagai sayuran atau pelengkap lainnya. Hidangan ini biasanya disajikan sebagai makanan utama dan sangat digemari karena kelezatannya dan kehangatan yang diberikannya.
      </p>
    </div>
  </article>

  <article class="flex flex-auto mb-16 gap-x-5 items-center">
    <div class="w-6/12 relative">
      <img src="/assets/mie-ayam.jpg" alt="mie ayam" class="w-10/12 rounded-lg" />
      <img src="/assets/mie-ayam-2.jpg" alt="mie ayam 2" class="w-4/12 absolute top-5 left-96 rounded-lg" />
    </div>
    <div class="w-6/12 text-justify">
      <h2 class="text-center text-xl font-extrabold">MIE AYAM</h2>
      <p class="text-justify">
        Mie ayam adalah salah satu hidangan populer di Indonesia yang terdiri dari mie yang disajikan dengan potongan daging ayam berbumbu dan pelengkap lainnya. Hidangan ini memiliki rasa gurih dan lezat, sering kali menjadi pilihan favorit sebagai makanan sehari-hari. Mie ayam biasanya disajikan dalam mangkuk besar dengan semua komponen ini, menciptakan hidangan yang lengkap dan memuaskan. Kelezatan mie ayam terletak pada keseimbangan antara mie yang kenyal, daging ayam yang gurih, dan kuah yang hangat dan flavorful.
      </p>
    </div>
  </article>
  <SeeMoreBtn href="/kuliner" />
</section>
