---

---

<footer class="sm:ps-9 sm:pe-9 bg-amber-600 sm:relative">
    <div class="sm:absolute sm:-top-20 sm:left-1/4 sm:text-9xl hidden">
        <h1 class="bg-clip-text text-transparent bg-cover bg-center bg-no-repeat tracking-wide scale-150" style="background-image: url('https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">WONOGIRI</h1>
    </div>
    <nav class="sm:flex sm:gap-10 sm:items-center sm:pt-24 pt-5 ps-8 pe-8">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Seal_of_Wonogiri_Regency.svg" alt="Logo Pemkab Wonogiri" class="sm:w-10/12 w-4/12 mx-auto"/>
        </div>

        <div class="sm:flex sm:gap-16 pt-3">
            <div class="sm:space-y-7 sm:font-bold space-y-4">
                <address>
                    <i class="fa-solid fa-location-dot"></i>
                    Jl. Kabupaten No.4-6, Wonogiri 57612
                </address>
                <address>
                    <i class="fa-solid fa-phone"></i>
                    <a href="tel: (0273) 321002">(0273) 321002</a> Fax. 322318
                </address>
                <address>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:ppid@wonogirikab.go.id">ppid@wonogirikab.go.id</a>
                </address>
            </div>
            <div class="divider sm:divider-horizontal divider-accent"></div>
            <div class="sm:space-y-7 sm:font-bold space-y-4">
                <p>Privacy Policy</p>
                <p>Syarat & Ketentuan</p>
            </div>
            <div class="divider sm:divider-horizontal divider-accent"></div>
            <div class="sm:space-y-7 sm:font-bold space-y-4">
                <a href="/" class="block">Home</a>
                <a href="/wisata/wisata" class="block">Wisata</a>
                <a href="/kuliner/kuliner" class="block">Kuliner</a>
                <a href="/akomodasi/akomodasi" class="block">Akomodasi</a>
            </div>
        </div>
    </nav>
    <nav class="sm:mt-10 text-center py-5">
        <div class="sm:flex sm:justify-center sm:gap-9 sm:text-4xl text-3xl space-x-8">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </nav>
    <aside class="text-center sm:mt-3 font-bold">
        <p>Copyright@Pemerintah Kabupaten Wonogiri<br />
            All Rights Reserved<br />
            2024</p>
      </aside>
</footer>