---
import Galleries from '../data/Galleries.json';
---

<section class="mb-40 mt-20 sm:ps-6 sm:pe-6 ps-3 pe-3">
    <h1 class="text-center text-6xl pb-10 font-bold">GALERI</h1>
    <div class="columns-3xs gap-10">
        {Galleries.map((Gallery, index) => (
            <img src={Gallery.image} alt={Gallery.alt} class={`w-full mb-8 object-cover ${index % 2 == 0 ? 'aspect-square' : 'aspect-video'}`} />
        ))}
    </div>
</section>