---
import Header from "../components/Header.astro"
---

<Header />
<section>
    <div id="background">
        <video autoplay loop>
            <source src="/assets/wonogiri.mp4" type="video/mp4" />
        </video>
        <div class="social">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</section>
