---
import Header from "../components/Header.astro";
---

<Header />
<section>
    <div id="background" class="h-screen">
        <video autoplay loop class="w-full h-full object-cover brightness-75">
            <source src="/assets/wonogiri.mp4" type="video/mp4" />
        </video>
        <div class="bg-orange-600 p-6 text-4xl flex items-center justify-center flex-col gap-7 absolute z-[1] top-72 -left-16 hover:left-0">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
</section>
