---

---

<section class="sm:ps-6 sm:pe-6 ps-3 pe-3">
    <div class="flex justify-center items-center h-screen relative">
        <div class="absolute bottom-10 left-7 bg-zinc-700 p-3 text-slate-50">
            <h1>Map of Central Java</h1>
        </div>
        <div class="w-6/12">
            <img src="/assets/central-java-map.jpg" alt="Central Java Map" class="block mx-auto w-11/12">
        </div>
        <div class="w-6/12">
            <img src="/assets/wonogiri-regency.png" alt="Wonogiri Regency" usemap="#image-map" class="block mx-auto w-4/5">
            <map name="image-map">
                <area target="_blank" alt="paranggupito" title="paranggupito" href="https://id.wikipedia.org/wiki/Paranggupito,_Wonogiri" coords="140,480,71" shape="circle" class="hover:bg-red-500"></area>
            </map>
        </div>
    </div>
</section>