---
import SpotOne from "../components/SpotOne.astro";
import SpotTwo from "../components/SpotTwo.astro";
import SpotThree from "../components/SpotThree.astro";
import SpotFour from "../components/SpotFour.astro";
---
<section>
    <div class="carousel w-full h-dvh">
       <SpotOne />
       <SpotTwo />
       <SpotThree />
       <SpotFour />
       
    </div>
</section>
