---
import SpotOne from "../components/SpotOne.astro";
import SpotTwo from "../components/SpotTwo.astro";
import SpotThree from "../components/SpotThree.astro";
import SpotFour from "../components/SpotFour.astro";
---
<section class="sm:ps-6 sm:pe-6 ps-3 pe-3">
    <h1 class="text-center text-6xl pb-10 font-bold">WISATA</h1>
    <div class="carousel w-full sm:h-dvh h-[45vh]">
       <SpotOne />
       <SpotTwo />
       <SpotThree />
       <SpotFour />
    </div>
</section>
